.text-center{
    text-align: center;
  }
  
  .bg-red{
    background: red;
  }
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
    
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }
  body {
    height: 10vh;
    width: 100%;
    background-image: url(./img.jpg);
    background-size: cover;
    
  }
 